<div class="container mt-4">
    <div class="row">
        {{#each blogPosts as |blogPost|}}
        <div class="col-md-9">
            <div class="card mb-4">
                <div class="card-header">
                    <h2>{{blogPost.title}}</h2>
                    <p class="text-muted">{{blogPost.createdAt}}</p>
                </div>
                <div class="card-body">
                    <p>{{blogPost.content}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>